/* Constants */

:root {
  --color-gray: #808080;
  --color-light-gray: #E0E0E0;
  --color-lighter-gray: #F0F0F0;

  --color-flag-maroon: #8d2029;
  --color-flag-orange: #ff5b00;
  --color-flag-yellow: #ffb700;
  --color-flag-green: #005641;

  --color-party-green: green;
  --color-party-blue: blue;
  --color-party-red: red;
  --color-party-yellow: yellow;

  --color-party-green-trans: rgba(0, 255, 0, 0.4);
  --color-party-blue-trans: rgba(0, 0, 255, 0.4);
  --color-party-yellow-trans: rgba(255, 255, 0, 0.4);
  --color-party-red-trans: rgba(255, 0, 0, 0.4);

  --font-weight-bold: 600;
  --font-weight-normal: 300;

  --font-size-normal: 12px;
  --font-size-small: 9px;

  --dim-image: 32px;
  --border-width-default: 1px;
  --padding-cell-default: 2px;

  --width-table-column-default: 100px;
  --width-table-column-number: 72px;
}

/* HTML Classes */

a {
  text-decoration: none;
  color: var(--color-gray);
}

a:hover {
  text-decoration: none;
  color: var(--color-flag-orange);
}

body {
  font-family: "Futura";
  font-size: var(--font-size-normal);
}

h1, h2 {
  font-weight: var(--font-weight-normal);
}

table {
  border-collapse: collapse;
  border-color: var(--color-gray);
  border-spacing: 0;
}

table, th, td {
  border-color: var(--color-light-gray);
  border-style: solid;
  border-width: var(--border-width-default);
  padding: var(--padding-cell-default);
}

th {
  background-color: var(--color-lighter-gray);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-normal);
}

/* Customer Classes */
.div-home-page {
  background-color: 'white';
}

.div-fixed-header {
  position: fixed;
  top: 0;
  width: 100%;

  height: 120px;
  background-color: var(--color-lighter-gray);
  vertical-align: middle;

  z-index: 99;
  padding: 12px;
}

.div-moving-body {
  padding-top: 150px;
  padding-left: 24px;
}

.div-results-by-ed {
  top: 500px;
}

.div-results-view {
  display: table;
  height: 400px;
  top: 500px;
}

.div-results-map {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.div-results-table {
  position: relative;
  display: table-cell;
  width: 1000px;
}

.h2-label {
  vertical-align: middle;
}

.img-ed {
  filter: grayscale(100%);
  max-width: var(--dim-image);
  max-height: var(--dim-image);
  padding-right: 12px;
  vertical-align: middle;
}

.img-map:hover {
  opacity: 0.5;
}

.img-logo {
  max-height: var(--dim-image);
  max-width: var(--dim-image);
  filter: grayscale(100%);
  opacity: 0.5;
}

.img-pd-logo {
  max-height: var(--dim-image);
  max-width: var(--dim-image);
  vertical-align: middle;
}

.p-source {
  color: var(--color-gray);
}

.td-simple {
  font-size: var(--font-size-normal);
  text-align: left;
  width: var(--width-table-column-default);
}

.td-number {
  font-size: var(--font-size-normal);
  text-align: right;
  width: var(--width-table-column-number);
}

.td-number-percent {
  font-size: var(--font-size-small);
  text-align: right;
  width: var(--width-table-column-number);
}

.tr-totals {
  background-color: var(--color-lighter-gray);
  font-weight: var(--font-weight-bold);
}

.tr-selected {
  background-color: var(--color-lighter-gray);
}

.year-selector-item {
  padding: 6px;
}

.year-selector-item-not-selected {
  color: var(--color-flag-gray);
}

.year-selector-item-not-selected:hover {
  color: var(--color-flag-orange);
  cursor: pointer;
}

.year-selector-item-selected {
  color: var(--color-flag-maroon);
}
