:root {
	--color-lightergray: #f0f0f0;
}

.a-select-year {
	font-size: 12px;
	padding-right: 6px;
}

.a-select-year-selected {
	font-size: 18px;
	font-weight: 700;
}

.div-latest-results-item {
	border-radius: 12px;
	margin: 12px;
	max-width: 500px;
	padding: 12px;
}

.div-latest-results-item-body {
	font-size: 18px;
	margin-bottom: 6px;
	margin-top: 6px;
}

.div-latest-results-item-time,
.div-latest-results-item-description {
	font-size: 12px;
}

.div-percent-numerator {
	font-size: 12px;
	padding-bottom: 3px;
}

.div-percent-percent {
	font-size: 15px;
}

.div-percent-seat-limit {
	opacity: 0.5;
}

.div-percent-zero {
	opacity: 0.2;
}

.div-subtext {
	color: gray;
	font-size: 12px;
	margin-bottom: 6px;
}

.img-party-logo {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	max-height: 32px;
	max-width: 32px;
}

.p-download {
	color: gray;
	font-size: 12px;
}

.p-download:hover {
	cursor: grabbing;
	font-weight: bold;
}

.span-empty-cell {
	color: lightgray;
}

.svg-polygon-list:hover {
	opacity: 0.4;
}

.td-header {
	text-align: center;
	width: 60px;
}

.td-number {
	text-align: right;
}

.td-region {
	min-width: 140px;
	text-align: left;
}

.td-result-cell {
	vertical-align: baseline;
	width: 60px;
}

.td-seats {
	font-size: 18px;
	min-width: 48px;
	text-align: right;
}

.tr-total {
	background-color: var(--color-lightergray);
	border-bottom: double;
	border-width: 5px;
	font-weight: 700;
}

a {
	color: #000;
}

a:hover {
	font-weight: 700;
}

a:link {
	text-decoration: none;
}

body {
	font-family: Helvetica;
}

hr {
	border-color: #f0f0f0;
}

html {
	scroll-behavior: smooth;
}

svg {
	padding: 12px;
}

table {
	border-collapse: collapse;
}

table,
th,
td {
	border: 1px solid gray;
	padding: 6px;
}

th {
	background-color: lightgray;
}


#home-page-header {
	padding-left: 32px;
	padding-top: 12px;
	padding-bottom: 12px;
	top: 0;
	background-color: var(--color-lightergray);
	width: 100%;
	z-index: 10000;
}
#home-page-body {
	padding-left: 32px;
}

.header-img img {
	width: 80px;
	height: auto;
	float: right;
	margin-right: 70px;
}

@media screen and (max-width: 600px) {
	.header-img img {
	  float: none;
	  margin-left: auto;
	  margin-right: auto;
	  width: 50%;
	  width: 80px;
	  height: auto;
	  display: block;
	}
  }
